<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itrip.dao.ItripHotelMapper">
  <resultMap id="BaseResultMap" type="com.itrip.model.ItripHotel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotelName" jdbcType="VARCHAR" property="hotelname" />
    <result column="countryId" jdbcType="BIGINT" property="countryid" />
    <result column="provinceId" jdbcType="BIGINT" property="provinceid" />
    <result column="cityId" jdbcType="BIGINT" property="cityid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="hotelType" jdbcType="INTEGER" property="hoteltype" />
    <result column="hotelLevel" jdbcType="INTEGER" property="hotellevel" />
    <result column="isGroupPurchase" jdbcType="INTEGER" property="isgrouppurchase" />
    <result column="redundantCityName" jdbcType="VARCHAR" property="redundantcityname" />
    <result column="redundantProvinceName" jdbcType="VARCHAR" property="redundantprovincename" />
    <result column="redundantCountryName" jdbcType="VARCHAR" property="redundantcountryname" />
    <result column="redundantHotelStore" jdbcType="INTEGER" property="redundanthotelstore" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="modifiedBy" jdbcType="BIGINT" property="modifiedby" />
    <result column="details" jdbcType="LONGVARCHAR" property="details" />
    <result column="facilities" jdbcType="LONGVARCHAR" property="facilities" />
    <result column="hotelPolicy" jdbcType="LONGVARCHAR" property="hotelpolicy" />
    <result column="e_id" jdbcType="INTEGER" property="eId" />

    <association property="itripAreaDic" column="cityid" select="com.itrip.dao.ItripAreaDicMapper.selectByPrimaryKey"/>
    <collection property="itripHotelRoom" ofType="com.itrip.model.ItripHotelRoom">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="hotelId" jdbcType="BIGINT" property="hotelid" />
      <result column="roomTitle" jdbcType="VARCHAR" property="roomtitle" />
      <result column="roomPrice" jdbcType="DECIMAL" property="roomprice" />
      <result column="roomBedTypeId" jdbcType="BIGINT" property="roombedtypeid" />
      <result column="isHavingBreakfast" jdbcType="INTEGER" property="ishavingbreakfast" />
      <result column="payType" jdbcType="INTEGER" property="paytype" />
      <result column="satisfaction" jdbcType="DECIMAL" property="satisfaction" />
      <result column="isBook" jdbcType="INTEGER" property="isbook" />
      <result column="isCancel" jdbcType="INTEGER" property="iscancel" />
      <result column="isTimelyResponse" jdbcType="INTEGER" property="istimelyresponse" />
      <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
      <result column="createdBy" jdbcType="BIGINT" property="createdby" />
      <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
      <result column="modifiedBy" jdbcType="BIGINT" property="modifiedby" />
    </collection>
    <collection property="itripComment" ofType="com.itrip.model.ItripComment">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="hotelId" jdbcType="BIGINT" property="hotelid" />
      <result column="productId" jdbcType="BIGINT" property="productid" />
      <result column="orderId" jdbcType="BIGINT" property="orderid" />
      <result column="productType" jdbcType="INTEGER" property="producttype" />
      <result column="userId" jdbcType="BIGINT" property="userid" />
      <result column="isHavingImg" jdbcType="INTEGER" property="ishavingimg" />
      <result column="positionScore" jdbcType="INTEGER" property="positionscore" />
      <result column="facilitiesScore" jdbcType="INTEGER" property="facilitiesscore" />
      <result column="serviceScore" jdbcType="INTEGER" property="servicescore" />
      <result column="hygieneScore" jdbcType="INTEGER" property="hygienescore" />
      <result column="score" jdbcType="INTEGER" property="score" />
      <result column="tripMode" jdbcType="BIGINT" property="tripmode" />
      <result column="isOk" jdbcType="INTEGER" property="isok" />
      <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
      <result column="createdBy" jdbcType="BIGINT" property="createdby" />
      <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
      <result column="modifiedBy" jdbcType="BIGINT" property="modifiedby" />
      <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </collection>
    <collection property="itripHotelFeatures" ofType="com.itrip.model.ItripHotelFeature">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="hotelId" jdbcType="BIGINT" property="hotelid" />
      <result column="featureId" jdbcType="BIGINT" property="featureid" />
      <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
      <result column="createdBy" jdbcType="BIGINT" property="createdby" />
      <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
      <result column="modifiedBy" jdbcType="BIGINT" property="modifiedby" />
      <association property="itripLabelDic"/>
    </collection>
  </resultMap>

  <!--按条件查询酒店-->
  <select id="selectBy" resultMap="BaseResultMap">
    SELECT a.*,b.*,c.*,d.*
    FROM `itrip_hotel`a ,`itrip_hotel_feature` b,`itrip_hotel_room` c,`itrip_comment` d,`itrip_area_dic` e
    WHERE a.`id`=b.`hotelId`
    AND a.`id`=d.`hotelId`
    AND a.id=c.`hotelId`
    AND a.`cityId`=e.`id`
    <if test="name!='' and name!=null">
      and e.name like concat('%',#{name},'%')
    </if>
    <if test="hotellevel!=0">
      and a.hotelLevel=#{hotellevel}
    </if>
    <if test="details!='' and details!=null">
      and a.details like concat('%',#{details},'%')
    </if>
  </select>

  <select id="selectId" resultMap="BaseResultMap">
    SELECT a.*,b.*,c.*,d.*
    FROM `itrip_hotel`a ,`itrip_hotel_feature` b,`itrip_hotel_room` c,`itrip_comment` d
    WHERE a.`id`=b.`hotelId`
    AND a.`id`=d.`hotelId`
    AND a.id=c.`hotelId`
    AND a.`id`=#{id}
  </select>

  <select id="selectDetail" resultMap="BaseResultMap">
    SELECT ih.*,ihr.* FROM `itrip_hotel` ih,`itrip_hotel_room` ihr
    WHERE ih.`id`=ihr.`hotelId`
    AND ih.`hotelName`=#{hotelname}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from itrip_hotel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.itrip.model.ItripHotel">
    insert into itrip_hotel (id, hotelName, countryId, 
      provinceId, cityId, address, 
      hotelType, hotelLevel, isGroupPurchase, 
      redundantCityName, redundantProvinceName, 
      redundantCountryName, redundantHotelStore, 
      creationDate, createdBy, modifyDate, 
      modifiedBy, details, facilities, 
      hotelPolicy,e_id)
    values (#{id,jdbcType=BIGINT}, #{hotelname,jdbcType=VARCHAR}, #{countryid,jdbcType=BIGINT}, 
      #{provinceid,jdbcType=BIGINT}, #{cityid,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, 
      #{hoteltype,jdbcType=INTEGER}, #{hotellevel,jdbcType=INTEGER}, #{isgrouppurchase,jdbcType=INTEGER}, 
      #{redundantcityname,jdbcType=VARCHAR}, #{redundantprovincename,jdbcType=VARCHAR}, 
      #{redundantcountryname,jdbcType=VARCHAR}, #{redundanthotelstore,jdbcType=INTEGER}, 
      #{creationdate,jdbcType=TIMESTAMP}, #{createdby,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{modifiedby,jdbcType=BIGINT}, #{details,jdbcType=LONGVARCHAR}, #{facilities,jdbcType=LONGVARCHAR}, 
      #{hotelpolicy,jdbcType=LONGVARCHAR},#{e_id,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.itrip.model.ItripHotel">
    update itrip_hotel
    set hotelName = #{hotelname,jdbcType=VARCHAR},
      countryId = #{countryid,jdbcType=BIGINT},
      provinceId = #{provinceid,jdbcType=BIGINT},
      cityId = #{cityid,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      hotelType = #{hoteltype,jdbcType=INTEGER},
      hotelLevel = #{hotellevel,jdbcType=INTEGER},
      isGroupPurchase = #{isgrouppurchase,jdbcType=INTEGER},
      redundantCityName = #{redundantcityname,jdbcType=VARCHAR},
      redundantProvinceName = #{redundantprovincename,jdbcType=VARCHAR},
      redundantCountryName = #{redundantcountryname,jdbcType=VARCHAR},
      redundantHotelStore = #{redundanthotelstore,jdbcType=INTEGER},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedby,jdbcType=BIGINT},
      details = #{details,jdbcType=LONGVARCHAR},
      facilities = #{facilities,jdbcType=LONGVARCHAR},
      hotelPolicy = #{hotelpolicy,jdbcType=LONGVARCHAR}
      e_id=#{e_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, hotelName, countryId, provinceId, cityId, address, hotelType, hotelLevel, 
    isGroupPurchase, redundantCityName, redundantProvinceName, redundantCountryName, 
    redundantHotelStore, creationDate, createdBy, modifyDate, modifiedBy, details, facilities, 
    hotelPolicy,e_id
    from itrip_hotel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, hotelName, countryId, provinceId, cityId, address, hotelType, hotelLevel, 
    isGroupPurchase, redundantCityName, redundantProvinceName, redundantCountryName, 
    redundantHotelStore, creationDate, createdBy, modifyDate, modifiedBy, details, facilities, 
    hotelPolicy,e_id
    from itrip_hotel
  </select>
</mapper>